.product {
	width: 300px;
	height: 508px;
	border: 1px solid #95a0a7;
	border-radius: 8px;
	position: relative;
}

.product img {
	height: 286px;
	width: 286px;
	border-radius: 8px;
	margin: 7px;
}

.product-info {
	margin: 0 14px;
}

.product-info p {
	margin-bottom: 0;
	margin-top: 10px;
}
.product-name {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 25px;
	margin-top: 7px;
}

.btn-cart {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #0e161a;
	font-size: 15px;
	width: 100%;
	background-color: #ffe0b3;
	background: #ffe0b3;
	border: 1px solid #95a0a7;
	border-radius: 0px 0px 8px 8px;
	position: absolute;
	bottom: 0;
	padding: 10px 0;
}
.btn-cart:hover {
	background-color: orange;
}
.btn-text {
	margin-right: 5px;
}
